<% include ../partials/header %> 

<div class="container">
    <br><h1 style="text-align: center;">Login</h1>
    <div style="width:30%;margin:25px auto">
        <form action= "/login" method="POST">
          <input class="form-control" type="text" name="username" placeholder="name"><br>
          <input class="form-control" type="password" name="password" placeholder="image url"><br>
          <button class="btn btn-primary btn-block">Login</button>
        </form>
    </div> 
</div>

<% include ../partials/footer %> 
